@font-face {
  font-family: Raleway;
  src: url(./assets/font/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "RalewayBold";
  src: url(./assets/font/Raleway-Bold.ttf);
}

@font-face {
  font-family: RalewayXBold;
  src: url(./assets/font/Raleway-ExtraBold.ttf);
}
/* --------------------------- (variable couleurs) ------------------------*/

:root {
  --main-bg-gray: #f2f2f2;
  --main-bg-blue: #0065fc;
  --main-bg-blue-light: #deebff;
  --main-bg-violet: #8a63dd;
}

/* ----- tous les éléments avant et après * ne dépasseront pas de leur contenu etont une marge+padding :0-------- */

*,
::after,
::before {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway;
  width: 100%;
}

/* ---------------------------------- (menu nav et logo reservia) -------------------------------------*/

.menu {
  list-style-type: none;
  text-decoration: none;
  font-size: large;
  margin: 0 0 30px;
  padding: 0;
  display: grid;
  grid-template-rows: 81px 50px;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid var(--main-bg-gray);
}

.logo-reservia {
  width: 100px;
}

.menu3 {
  color: var(--main-bg-blue);
  text-decoration: none;
}

.menu1,
.menu2 {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* ------------------------------ menu logo---------------------------------------*/

.menu li:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  padding: 0 15px;
  display: grid;
  align-content: center;
}

/* --------------------------------------- menu hébergements --------------------------- */
.menu li:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/2;
  width: 100%;
  height: 50px;
}

/* ---------------------------------------- menu activités-------------------------------*/

.menu li:nth-child(3) {
  grid-column: 2/2;
  grid-row: 2/2;
  width: 100%;
  height: 50px;
}

/* ---------------------------------------- menu s'inscrire -------------------------------*/

.menu li:nth-child(4) {
  grid-column: 2/2;
  grid-row: 1/2;
  padding: 0 15px;
  justify-self: end;
  align-self: center;
  font-family: RalewayBold;
}

.menu a {
  text-decoration: none;
}

/* -------------------------------- rollover ----------------------------------------*/

.menu1:hover,
.menu2:hover {
  border-bottom: 3px solid #0065fc;
  color: var(--main-bg-blue);
}

/* -----------------------------------------(titre H1) -------------------------------------------*/

h1 {
  font-size: large;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
}

h1 + p {
  padding: 10px 15px 0;
}

/* -------------------------(barre de recherches)-------------------------------------- */

.flexForm {
  max-width: 350px;
  height: 50px;
  margin: 25px 15px;
  font-size: larger;
  display: flex;
  position: relative;
}

.flexForm label {
  width: 50px;
  height: 100%;
  background: var(--main-bg-gray);
  border-radius: 15px 0 0 15px;
  display: flex;
}

/* ------------------------- icône position ---------------------------------*/

#position {
  margin: auto;
}

/* --------------------------------- input-------------------------------*/

#search {
  width: 83%;
  padding-left: 10px;
  font-size: large;
  color: black;
  border-radius: 0;
  outline: none;
  border: 1px solid var(--main-bg-gray);
}

/* -------------------------------- bouton recherche -----------------------------*/

.flexForm button {
  width: 55px;
  height: 50px;
  background: var(--main-bg-blue);
  border: none;
  border-radius: 15px;
  position: absolute;
  z-index: 1000000;
  right: 0;
  cursor: pointer;
}

/* --------------------------- icone loupe -------------------------------- */

.fa-search {
  font-size: 18px;
  color: white;
}

@media (min-width: 585px) {
  #search {
    width: 89%;
  }
}

/* ------------------------------ (filtres)--------------------------------- */

.filtre {
  max-width: 471px;
  padding: 0 15px;
  display: grid;
  font-size: large;
  grid-template-columns: 50% 47%;
  grid-template-rows: 25px 50px 50px 50px;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}

/* ---------------------- tous les filtres --------------------------*/

.filtre button {
  max-width: 171px;
  font-size: medium;
  border-radius: 70px;
  border: 2px solid #f2f2f2;
  background: white;
  color: #0065fc;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 0;
  cursor: pointer;
}

/* ------------------------------ bouton économique --------------------------*/

.filtre button:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}

/* ---------------------- bouton familial ------------------------------------*/

.filtre button:nth-child(3) {
  grid-row: 2/3;
  grid-column: 2/3;
}

/* -------------------- bouton romantique ------------------------------*/

.filtre button:nth-child(4) {
  grid-row: 3/4;
  grid-column: 1/2;
}

/* -----------------------------------bouton animaux --------------------------*/

.filtre button:nth-child(5) {
  width: 125%;
  max-width: 219px;
  grid-row: 4/5;
  grid-column: 1/2;
}

/* ---------------------------- icone/image des filtre -----------------------------*/

.filtre .img {
  height: 50px;
  width: 51px;
  background-color: #deebff;
  border-radius: 50%;
  /* clip-path: circle(46%); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 9px;
}

.filtre a {
  list-style-type: none;
  text-decoration: none;
  font-size: large;
}

/* ------------------------------ (hover)----------------------------- */

.filtre button:hover {
  transition: 0.3s;
  color: black;
}

/* ---------------------- (phrase info) ------------------------------- */

.icone-info {
  display: flex;
  column-gap: 10px;
  height: 40px;
  align-items: center;
  margin-top: 15px;
}

.fa-info {
  height: 20px;
  width: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  color: var(--main-bg-blue);
  align-self: flex-start;
}
/* -------------------------------(inversement des boites "les plus populaires" et "hébergements à marseille")---------------------- */

.box-heberg-marseille-et-populaires {
  display: flex;
  flex-direction: column-reverse;
}

/* -------------------------------------------- les plus populaires -----------------------------*/

/* ---------------------------------(les 3 photos les plus populaires )--------------------------------- */

.ensemble-3-photos {
  display: flex;
  flex-direction: column;
}

/* ----------------------------------(boite les plus populaires)--------------------------*/

.boite-les-plus-populaires {
  background-color: #f2f2f2;
  margin-top: 20px;
}

/* ---------------------------------------------(titre populaire et titre& icône)------------------------------*/

.titre-populaire {
  margin-left: 2%;
  font-size: large;
}

.titre-et-icone {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
}

#progress {
  margin-left: 80%;
}

/*-------------------------(hover)---------------------- */

.lien7:hover,
.lien8:hover,
.lien9:hover {
  transition: 0.3s;
  color: #0065fc;
}

/* ------------------------ensemble photo et texte----------------------------*/

.hotel-soleil-du-matin,
.hotel-au-coeur-eau,
.hotel-bleu-blanc {
  width: 300px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: white;
  border: 5px solid white;
  box-shadow: 5px 5px 5px#f2f2f2;
}

/* ----------------------------------------(marge de la 1ère photo)-----------------*/

.hotel-soleil-du-matin {
  margin-top: 20px;
}

/* --------------------------(images)-----------------------------*/

.image-soleil-du-matin,
.image-au-coeur-eau,
.image-bleu-blanc {
  width: 150px;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* -------------------------(texte à droite) ------------------*/

.box1,
.box2,
.box3 {
  padding-left: 10px;
  padding-top: 15px;
  width: 150px;
}

/* -----------------(a href ensemble photo et texte)--------------------*/

.lien7,
.lien8,
.lien9 {
  text-decoration: none;
  color: black;
  display: flex;
}

/* -------------------(titres et soutitres )---------------------------*/

.titres-stars1,
.titres-stars2,
.titres-stars3 {
  width: auto;
  height: 140px;
}

.sous-titrepopulaire1,
.soustitre-populaire2,
.soustitre-populaire3 {
  font-weight: normal;
  padding-top: 5px;
}

/* ---------------------------- (étoiles) -----------------------*/

.starline-populaire1,
.starline-populaire2,
.starline-populaire3 {
  padding-top: 55px;
  font-size: 0.8rem;
  color: #0065fc;
}

/* ---------------------------(hébergements à marseille)-------------------*/

/* -----------------------------(ensemble des 6 photos) -----------------*/

.boite-marseille {
  margin-right: 10px;
  margin-left: 10px;
  width: auto;
}
/* -------------------------(titre marseille) -------------------------------*/
.titre-marseille {
  margin-left: -1%;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: large;
}

/* ---------------------------- (1ère photo: auberge de la cannebière)-------------------*/

/* -----------------------(ensemble photo et texte)--------------------*/

.auberge-cannebiere,
.hotel-port,
.hotel-mouettes,
.hotel-mer,
.auberge-panier,
.hotel-amina {
  border-radius: 15px;
  justify-content: center;
  height: 180px;
  width: 300px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 5px#f2f2f2;
  border: 5px solid white;
  margin-right: auto;
  margin-left: auto;
}

/* ---------------------------------------(photos) ---------------------------*/

.image-cannebiere,
.image-port,
.image-mouettes,
.image-mer,
.image-panier,
.image-amina {
  height: 100px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

/* -------------------------------(texte des photos)-------------------------*/

.ensemble1,
.ensemble2,
.ensemble3,
.ensemble4,
.ensemble5,
.ensemble6 {
  width: 100%;
  height: 100px;
}

/* ---------------------------(titres et sous titres) ------------------------*/

.titre1,
.titre2,
.titre3,
.titre4,
.titre5,
.titre6 {
  margin-left: 3%;
  margin-top: 0.5%;
}

.sous-titre1,
.sous-titre2,
.sous-titre3,
.sous-titre4,
.sous-titre5,
.sous-titre6 {
  margin-left: 3%;
  font-weight: normal;
  margin-bottom: 3%;
  margin-top: 3%;
}

/* ------------------------------(étoiles)----------------------- */

.starline1,
.starline2,
.starline3,
.starline4,
.starline5,
.starline6 {
  margin-left: 3%;
  font-size: 0.8rem;
  margin-top: 3%;
}

#star1-5,
#star2-5,
#star5-5 {
  color: rgba(128, 128, 128, 0.466);
}

.starline1,
.starline2,
.starline3,
.starline4,
.starline5,
.starline6 {
  color: #0065fc;
}

/* --------------------------- (liens et over)-------------------------*/

.lien1:hover,
.lien2:hover,
.lien3:hover,
.lien4:hover,
.lien5:hover,
.lien6:hover {
  transition: 0.3s;
  color: #0065fc;
}

.lien1,
.lien2,
.lien3,
.lien4,
.lien5,
.lien6 {
  color: black;
  text-decoration: none;
}

/* --------------------------(bouton afficher)--------------------------*/

.afficher,
.lien-afficher {
  font-family: RalewayBold;
  text-decoration: none;
  color: black;
  margin-bottom: 30px;
}

.afficher {
  margin-left: 10px;
}
/*--------------------(activités à marseille)------------------------ */

/* ----------------- boite activités à marseille --------------------------*/

.child3 {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

/*----------------------(titre marseille) ------------------------*/

.titre-principal-activites {
  font-size: large;
  margin-left: 32px;
  margin-bottom: 25px;
}

/* ----------------------------(ensemble photos et texte activités à marseille)------------------- */

.vieux-port,
.fort-pomegues,
.iles-frioul,
.calanques,
.dame-garde,
.parc-longchamp {
  border: 1px solid white;
  box-shadow: 0px 8px 8px #f2f2f2;
  height: 145px;
  width: 300px;
  border-radius: 15px 15px;
  max-width: 100%;
  margin-bottom: 20px;
}

/* ----------------------------(photos activités à marseille)------------------- */

.image-vieux-port,
.image-pomegues,
.image-iles-frioul,
.image-calanques,
.image-dame-garde,
.image-parc-longchamp {
  height: 110px;
  width: 300px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
}

/* ------------------------- titre des cartes -----------------------------*/
.titre-vieux-port,
.titre-fort-pomegues,
.titre-iles-frioul,
.titre-parc-calanques,
.titre-dame-garde,
.titre-parc-longchamp {
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* --------------------------------over ----------------------------*/

.lien10:hover,
.lien11:hover,
.lien12:hover,
.lien13:hover,
.lien14:hover,
.lien15:hover {
  transition: 0.3s;
  color: #0065fc;
  display: inline-block;
}

.lien10,
.lien11,
.lien12,
.lien13,
.lien14,
.lien15 {
  color: black;
  text-decoration: none;
}
/* -------------------------(footer)---------------------------------*/

/* ---------------------------(ensemble des 3)----------------------------*/

.child4 {
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-top: 20px;
}

/* ------------------------------(liste du footer)-------------------------*/

footer ul {
  list-style-type: none;
}

/* -----------------------------(padding bottom des trois boites)-------------------------*/

.a-propos0,
.nos-hebergements0,
.assistance0 {
  font-weight: bold;
  padding-bottom: 20px;
}

/* --------------------------------------(padding bottom des lignes)--------------------------*/

.a-propos1,
.a-propos2,
.nos-hebergements1,
.assistance1 {
  padding-bottom: 10px;
}

.a-propos3,
.nos-hebergements2 {
  padding-bottom: 25px;
}

/* ----------------------------------padding bottom de la dernière boite-------------------------*/

.box-assistance {
  padding-bottom: 20px;
}

/* media query ------------------ IPAD -------------------------------*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* ----------------------------------------- boite les plus populaires----------------------------------*/

  .boite-les-plus-populaires {
    height: 340px;
  }

  /* ----------------------------- (ensemble des 3 photos)---------------------------*/

  .ensemble-3-photos {
    display: flex;
    flex-direction: row;
  }

  /* ----------------------------------- (ensemble photo et texte)----------------------*/

  .lien7,
  .lien8,
  .lien9 {
    display: flex;
    flex-direction: column;
  }

  /* --------------------------------(margin-top de l'ensemble : hotel soleil du matin)-------------------*/

  .hotel-soleil-du-matin {
    margin-top: 0;
  }

  /* ----------------------------- taille des ensembles photos et texte ----------------------------*/

  .hotel-soleil-du-matin,
  .hotel-au-coeur-eau,
  .hotel-bleu-blanc {
    height: 230px;
    width: 230px;
  }

  /* --------------------------------- taille des photos --------------------------------*/

  .image-soleil-du-matin,
  .image-au-coeur-eau,
  .image-bleu-blanc {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    width: 230px;
  }

  /*  -----------------------------------------taille des titres ---------------------------------*/

  .titres-stars1,
  .titres-stars2,
  .titres-stars3 {
    width: auto;
    height: 78px;
    display: block;
  }

  /* ----------------------------------------- ligne des étoiles ---------------------------*/

  .starline-populaire1,
  .starline-populaire2,
  .starline-populaire3 {
    display: inline;
    margin-top: 10px;
  }

  /* -----------------------------(titre marseille)--------------------------*/

  .titre-marseille {
    margin-left: 3%;
  }

  /* ------------------------------------ (icône info)---------------------------------*/

  .fa-info {
    align-self: center;
  }

  /* -------------------------(boite hébergements à marseille et les + populaires)------------------------*/

  .box-heberg-marseille-et-populaires {
    display: flex;
  }

  /* -------------------------------------- (boite des 6 photos)--------------------------------*/

  .ensemble-6-photos {
    display: grid;
    grid-template-columns: 31.3% 33.3% 33.3%;
    grid-template-rows: 250px 250px;
    justify-items: center;
    /*border: 1px solid blue;*/
    width: auto;
    margin-left: 10px;
  }

  /* ------------------------------- boite marseille ---------------------------*/

  .boite-marseille {
    margin-left: 0;
    margin-right: 0;
  }

  /* ------------------------ marge hotel de quelques photos -------------------*/

  .hotel-mouettes,
  .hotel-amina {
    margin-left: 20px;
  }

  .hotel-port,
  .auberge-panier {
    margin-left: 15px;
  }

  /* -----------------------(ensemble photos et texte)--------------------*/

  .auberge-cannebiere,
  .hotel-port,
  .hotel-mouettes,
  .hotel-mer,
  .auberge-panier,
  .hotel-amina {
    width: 230px;
  }

  /* -------------------------------------- bouton afficher ---------------------------*/

  .afficher {
    margin-left: 3%;
  }
  /* ---------------------------- boite activités à marseille ------------------------------*/

  .child3 {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-bottom: 4%;
  }

  /* --------------------------- titre activités marseille -------------------------------*/

  .titre-principal-activites {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  /* ----------------------------------- premiere photo et quatrième photo--------------------------------*/

  .vieux-port,
  .calanques {
    width: 180px;
    height: 422px;
  }

  .image-vieux-port,
  .image-calanques {
    height: 372px;
    width: 180px;
  }

  /* ------------------------------ le reste des autres photos --------------------------------*/

  .fort-pomegues,
  .iles-frioul,
  .dame-garde,
  .parc-longchamp {
    width: 180px;
    height: 200px;
  }

  .image-pomegues,
  .image-iles-frioul,
  .image-dame-garde,
  .image-parc-longchamp {
    height: 150px;
    width: 180px;
  }

  /*---------------------------------------- footer ----------------------------------*/

  /* -------------------------------------- box footer -------------------------------------*/

  .child4 {
    display: flex;
    justify-content: space-between;
  }

  /* ------------------------- marge boite assistance -----------------------------------*/

  .box-assistance {
    margin-right: 3%;
  }

  /* ------------------------------- les 3 boites -------------------------------*/

  .box-a-propos,
  .box-nos-hebergements,
  .box-assistance {
    justify-content: space-between;
  }
}
/* -----------------------------version desktop-------------------------------*/

@media (min-width: 1025px) {
  /* ------------------------- centrer le site à 85% de la page sauf footer -----------------*/

  .site-entier {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  /* -------------------------------- menu de navigation -------------------------*/
  .menu {
    display: flex;
    border-bottom: 1px solid white;
    font-size: 1rem;
  }

  .menu1:hover,
  .menu2:hover {
    border-top: 3px solid #0065fc;
    border-bottom: 0;
    color: var(--main-bg-blue);
  }

  .menu1,
  .menu2 {
    width: 50%;
    height: 100%;
  }

  .menu1 {
    margin-left: 350px;
  }

  .menu2 {
    margin-left: 130px;
  }

  ul.menu {
    margin-bottom: 3%;
  }

  /* ----------------------- titre h1----------------------------------*/

  h1 {
    font-size: large;
  }

  /* ---------------------------------- icone loupe --------------------------------*/

  .fa-search {
    display: none;
  }

  /* ----------------------------inversion mot rechercher -------------------------------*/

  .blue-button::after {
    content: " Rechercher";
    color: white;
    font-size: 1.1rem;
  }

  /* ------------------------------------ bouton bleu -------------------------------*/

  .flexForm button {
    width: 155px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /* ------------------------------ barre recherche -----------------------------*/

  .flexForm {
    max-width: 400px;
  }
  /* -------------------------------filtre -------------------------*/

  .filtre {
    display: flex;
    max-width: 706px;
  }
  /* ----------------------- h3 : 1er fitlre ------------------------------------*/

  h3 {
    margin-top: 14px;
    margin-right: 12px;
  }

  /* --------------------------------- tous les filtres sauf le 1er ------------------------------*/

  .filtre button:nth-child(2),
  .filtre button:nth-child(3),
  .filtre button:nth-child(4) {
    margin-right: 10px;
    padding-right: 15px;
  }

  .filtre button:nth-child(5) {
    padding-right: 20px;
    min-width: 190px;
  }

  /* ---------------------------- icone info --------------------------*/

  .fa-info {
    align-self: center;
  }
  .fa-info + h5 {
    font-weight: normal;
  }
  /* ------------------------------ LA boite hébergements à marseille et les plus populaires ----------------------*/

  .box-heberg-marseille-et-populaires {
    flex-direction: row;
    width: 100%;
  }

  /* -------------------------------------------------- LES boites hébergements et les plus populaires -----------------------*/

  .boite-les-plus-populaires {
    width: 30%;
    margin: 0;
    border-radius: 15px;
  }

  .boite-marseille {
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-left: 0;
  }

  /* -------------------------------------------- les 6 photos des hébergements à marseille -----------------------------*/

  .ensemble-6-photos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
  }

  /* --------------------------------titre hébergements à marseille ---------------------------------*/

  h4.titre-marseille {
    margin-left: 20px;
    margin-top: 16px;
  }

  /* --------------------------------titre les plus populaires à marseille ---------------------------------*/

  h4.titre-populaire {
    margin-top: 0;
  }

  /* ----------------------------- icone progression ----------------------------*/

  .fa-chart-line {
    margin-left: -50px;
  }

  /* ------------------------------------------------------- ensemble hébergements à Marseille ---------------------------------*/

  .ensemble1,
  .ensemble2,
  .ensemble3,
  .ensemble4,
  .ensemble5,
  .ensemble6 {
    height: 76px;
    background-color: white;
  }

  .auberge-cannebiere,
  .hotel-port,
  .hotel-mouettes,
  .hotel-mer,
  .auberge-panier,
  .hotel-amina {
    width: 240px;
  }

  /*-------------------------(les 3 photos: hotel le soleil du matin/ hotel au coeur de l'eau / hotel tout bleu&blanc)---------------------- */

  .image-soleil-du-matin,
  .image-au-coeur-eau,
  .image-bleu-blanc {
    width: 130px;
  }

  .hotel-soleil-du-matin,
  .hotel-au-coeur-eau,
  .hotel-bleu-blanc {
    width: 330px;
  }

  .starline-populaire2 {
    padding-top: 25px;
  }

  .starline-populaire3 {
    padding-top: 40px;
  }
  /* --------------------------activités à marseille-----------------------------*/

  /* ----------------------------- titre principal activités -----------------------------*/

  .titre-principal-activites {
    margin-left: 0;
    margin-top: 40px;
  }

  /* --------------------------------- boite activités à marseille --------------------------*/

  .child3 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  /* ---------------------------- première et quatrième photo ---------------------------------------*/

  .vieux-port,
  .calanques {
    width: 300px;
    height: 463px;
  }

  .image-vieux-port,
  .image-calanques {
    width: 300px;
    height: 412px;
  }

  /* -------------------------- le reste des photos -------------------------------*/

  .fort-pomegues,
  .iles-frioul,
  .dame-garde,
  .parc-longchamp {
    width: 300px;
    height: 220px;
  }

  .image-pomegues,
  .image-iles-frioul,
  .image-dame-garde,
  .image-parc-longchamp {
    width: 300px;
    height: 170px;
  }

  /* -------------------------------------footer---------------------------------*/

  /* --------------------------------- boite footer --------------------------------*/

  .child4 {
    display: flex;
  }

  /* ----------------------------- les  3 boites---------------------------------*/

  .box-a-propos {
    margin-left: 4%;
  }

  .box-nos-hebergements,
  .box-assistance {
    margin-left: 20%;
  }
}
